---
import BlogCard from "../components/BlogCard.astro"
import Navigation from "../components/Navigation.astro"
import Footer from "../components/Footer.astro"
import MobileNavigation from "../components/MobileNavigation.astro"
const allPosts=await Astro.glob('./posts/*.md')
---
<html>
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Sora&display=swap" rel="stylesheet">
		<title>Blogs-Akshay Bhandary</title>
    </head>
    <body>
        <Navigation />
        <MobileNavigation />
        <header class="text-5xl flex justify-center px-20 py-12">
            My Blog Posts
        </header>
        <!-- <div class="flex justify-start px-20 pt-6 pb-12">
            <input type="text" name="search" id="search" placeholder="Enter Keyword Here to Filter" class="w-56 p-2 border border-2 border-black">
        </div> -->
        </div>
        <div class="md:grid md:grid-cols-3 xl:grid-cols-2 md:gap-4 md:px-20 pb-12">
            {allPosts.toReversed().map((post)=>{
                return <BlogCard frontmatter={post.frontmatter} url={post.url}/>
            })}
        </div>
        <Footer />

    </body>
</html>

<script>
    import '../scripts/script.js'
</script>

<style>
    body{
		font-family: Sora;
		background-color: rgba(201, 217, 222, 0.708);
	}
</style>