---
import { Image } from "astro:assets";
import icon from '../images/Ellipse 2664.svg'

---

<div class="p-12 border border-2 grid grid-rows-2 gap-4 hover:bg-black hover:rounded-lg hover:text-white">
    <div class="flex justify-center">
        <Image src={icon} alt=""/>
    </div>
    <p class="flex justify-center">
        Blog Post Summary
    </p>
</div>