---
import { Image } from 'astro:assets';
import image2 from '../images/p2.png'
---

<footer class="bg-black text-white px-20 py-4">
    <div class="flex justify-between">
        <div><Image src={image2} alt="" class="invert-color h-10 w-10"/></div>
        <pre>
            @ 2023-2024 Personal
            Made with Astro.js
        </pre>
    </div>
    
</footer>